<p id="notice"><%= notice %></p>

<h1 id="index-title">Projects</h1>

 <% if user_signed_in? %>
  <%= link_to 'New Project', new_project_path, class:"btn btn-primary" %>
<% end %>


  <div class="row">
   <% @projects.each do |project| %>
    <div class="col-md-4">
       <div id="index-project-title">
         <%= project.title %>
       </div>
        <div id="index-project-img">
          <%= image_tag project.project_img.url(:thumb) %>
        </div>
        <div class="project-techno">
           <%= image_tag("techno.png")%><%= project.techno %>
         </div>
        <div>
        <%= link_to 'Show', project, class:"btn btn-primary btn-sm" %>
        <% if user_signed_in? %>
          <% if current_user.id === project.user_id %>
            <%= link_to 'Edit', edit_project_path(project), class:"btn btn-warning btn-sm" %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger btn-sm" %>
          <% end %>
        <% end %>
        </div>
    </div>
  <% end %>
  </div>




