<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <p id="title"><%= @project.title %></p>
    <div id="project_img">
      <%= image_tag @project.project_img.url(:thumb) %>  
    </div>
    <div class="project-techno">
      <%= image_tag("techno.png")%><%= @project.techno %>  
    </div>
    <div id="project_git" id="project-www">
      <%= link_to image_tag("github-logo.png"), @project.git %><%= link_to image_tag("web.png"), @project.website %></div>
  </div>
  <div class="col-md-8">
   <div id="project-content">
      <%= image_tag("menu.png") %>
      <%= markdown @project.body %>
   </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>

<%= link_to 'Back', projects_path %>
