<p id="notice"><%= notice %></p>

<p>
  <strong>TITLE:</strong>
  <%= @post.title %>
</p>

<p> <strong>Created by:</strong><%= @post.user.email %> - <%= @post.created_at.strftime('%d/%m/%Y')%></p>

<p>
  <strong>BODY:</strong>
  <%= markdown @post.body %>
</p>

<p>
  <strong>TAGS:</strong>
  <%= @post.tag_list.join(' ').upcase %>
</p>

<%= render 'comments/comment' %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
