<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-5" id="post-data">
    <h2 id="post-title"><%= @post.title %></h2>
    <h3 id="post-author"><%= image_tag("user.png")%><%= @post.user.email %></h3>
    <h3 id="post-date"><%= image_tag("clock.png")%><%= @post.created_at.strftime('%d/%m/%Y')%></h3>
    <h3 id="tags"><%= image_tag("settings.png")%><%= @post.tag_list.join(' ').upcase %></h3>
  </div>
  <div class="col-md-7">
    <div id="post-content">
      <%= markdown @post.body %>
    </div>
  </div>
</div>

<%= render 'comments/comment' %>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary btn-sm" %>
<% end %>

<%= link_to 'Back', posts_path, class:"btn btn-warning btn-sm" %>
