<nav class="nav">
  <div class="left-nav">
    <i class="material-icons" id="icon-gesture">gesture</i>
   <p id="tagline"><%= link_to "A coding Journey....", root_path %></p>
  </div>

  <div class="right-nav">
      <% if !current_user %>
        <%= link_to "Projects", projects_path %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% else %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    
<!--    <ul>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Me</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Posts Admin</a>
            <a class="dropdown-item" href="#">Portfolio Admin</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Sign Out</a>
      </li>
    </ul> -->
  </div>
</nav>
